[tokens]
api_token = Token for cmdb api


[snow]
snow_instance       = snow instance
api_user            = snow api user
api_password        = snow api password
api_key             = snow api key

[urls]
snow_base       = snow url