[tokens]
api_token = Token for cmdb api
email_api_token =

[snow]
snow_instance       = snow instance
api_user            = snow api user
api_password        = snow api password
api_key             = snow api key

[urls]
snow_base       = snow url
cmdb_api        = 
email_api       =

[EmailAPIData]
ID          = 
recipients  = 
cc          = 
bcc         = 