[tokens]
api_token       = Token for cmdb api
email_api_token = Token for email API

[snow]
snow_instance       = snow instance
api_user            = snow api user
api_password        = snow api password
api_key             = snow api key

[urls]
snow_base       = snow url
cmdb_api        = cmdb url
email_api       = email api url
noco_base       = noco db url

[EmailAPIData]
ID          = any number
recipients  = recievers of email
cc          = ccs
bcc         = bccs